.users {
    padding: 0 20px;
}

.user {
    display: grid;
    align-items: center;
    border-bottom: 1px solid rgba(100, 100, 100, .7);
    grid-template: 105px / minmax(90px, auto) 1fr;
}

.userPhoto {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.userInfo {
    margin-left: 15px;
}

.userName a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #2a5885;
}

.userName a:hover {
    text-decoration: underline;
}

.status {
    overflow: hidden;
    max-width: 500px;
    max-height: 50px;
}

.noStatus {
    color: rgba(191, 143, 96, .67);
}



