.input {
    font-size: 14px;
    box-sizing: border-box;
    width: 260px;
    height: 30px;
    margin-bottom: 15px;
    padding: 6px 12px 8px;
    border: 1px solid #d3d9de;
    border-radius: 5px;
}

.formControl.error input,
.formControl.error textarea {
    border: 2px solid red;
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    margin: 20px 0 30px 0;
    padding: 5px 18px;
    border-radius: 4px;
    background-color: #ffd6cc;
}
