.follow button {
    font-size: 14px;

    width: 70px;
    height: 20px;
    margin-top: 5px;
    cursor: pointer;
    color: #fff;
    border: 0;
    border-radius: 5px;
    outline: none;
    background-color: #5181b8;
}

.follow button:hover {
    background-color: rgba(103, 162, 232, .56);
}

.follow button:disabled {
    cursor: progress;
    background-color: rgba(103, 162, 232, .56);
}
