.header {
    grid-area: header;
    background-color: #4a76a8;
    display: grid;
    align-items: center;
    grid-template: 1fr / 1fr minmax(auto, 165px) minmax(auto, 795px) 1fr;
}

.logo {
    grid-column: 2 / 3;
    height: 42px;
}

.logo img {
    width: 42px;
}

.loginBlock {
    display: grid;
    justify-items: end;
    grid-column: 3 / 4;
}

.loginBlock a {
    color: white;
}

.userInfo {
    display: grid;
    grid-template:  1fr / 1fr 35px 80px;
    align-items: center;
    justify-items: flex-end;
}

.userInfo span {
    padding-right: 10px;
    color: white;
    font-weight: bold;
}

.userInfo a {
    text-decoration: none;
    display: inline;
}

.userInfo img {
    width: 30px;
    border-radius: 50%;
}

.userInfo button {
    width: 55px;
    border-radius: 5px;
    cursor: pointer;
    color: #f0f2f5;
    border: 1px solid #d3d9de;
    background-color: #5181b8;
    outline: none;
}

.userInfo button:hover {
    transform: scale(1.1);
}