.header {
    grid-area: header;
    background-color: #4a76a8;
    display: grid;
    align-items: center;
    grid-template: 1fr / 1fr minmax(auto, 165px) minmax(auto, 795px) 1fr;
}

.logo {
    grid-column: 2 / 3;
}

.logo img {
    width: 42px;
}

.loginBlock {
    display: grid;
    justify-items: end;
    grid-column: 3 / 4;
}

.loginBlock a {
    color: white;
}