.header {
    display: grid;
    align-items: center;
    background-color: #4a76a8;

    grid-area: header;
    grid-template: 1fr / 1fr minmax(auto, 165px) minmax(auto, 795px) 1fr;
}

.logo {
    height: 42px;

    grid-column: 2 / 3;
}

.logo img {
    width: 42px;
}

.loginBlock {
    display: grid;
    justify-items: end;
    grid-column: 3 / 4;
}

.loginBlock a {
    color: white;
}

.userInfo {
    display: grid;
    align-items: center;
    grid-template: 1fr / 1fr 35px 80px;
    justify-items: flex-end;
}

.userInfo span {
    font-weight: bold;

    padding-right: 10px;
    color: white;
}

.userInfo a {
    display: inline;

    text-decoration: none;
}

.userInfo img {
    width: 30px;
    border-radius: 50%;
}

.userInfo button {
    width: 55px;
    cursor: pointer;
    color: #f0f2f5;
    border: 1px solid #d3d9de;
    border-radius: 5px;
    outline: none;
    background-color: #5181b8;
}

.userInfo button:hover {
    transform: scale(1.1);
}
