.content {
    display: grid;
    margin-bottom: 10px;
    grid-template-columns: 35px 90px;
    grid-template-rows: 1fr 1fr;
    place-items: center center;
}

.ava {
    grid-row: 1 / 3;
}

.ava img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border-radius: 50%;
}

.name {
    justify-self: flex-start;
}

.name a {
    font-size: 15px;

    white-space: nowrap;
    text-decoration: none;
    color: #2a5885;
}

.name:hover {
    text-decoration: underline;
}
