.profileInfo {
    grid-column: 1 / 3;
    display: grid;
    grid-template: 1fr / 0.3fr 0.7fr;
}

.mainInfo {
    display: grid;
    grid-template: 50px 40px 1fr / 1fr;
}

.photoBlock {
    display: grid;
    grid-template-rows: 210px 1fr;
    place-items: flex-start center;
    grid-row: 1 / 4;
}

.mainPhoto {
    width: 200px;
    display: block;
}

.newPhoto {
    margin: 15px 0;
    background-color: #5181b8;
}

.newPhoto input {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.addPhoto {
    width: 100%;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.addPhoto:hover {
    background-color: rgba(103, 162, 232, 0.56);
    cursor: pointer;
}

.addPhoto img {
    padding: 5px;
}

.fullName {
    font-size: 25px;
    line-height: 45px;
    font-weight: 500;
    border-bottom: 1px solid rgba(100, 100, 100, 0.7);
}

.status {
    display: flex;
    align-items: center;
}

.status span {
    justify-items: center;
    padding: 5px;
    margin-top: 20px;

    overflow:hidden;
    max-width: 500px;
}

.status span:hover {
    cursor: pointer;
    background-color: #f0f2f5;
}

.profileData div {
    margin: 10px;
}

.editButton {
    width: 75px;
    height: 25px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    background-color: #5181b8;
    border: 0;
    display: block;
    outline: none;
    margin: 10px;
}

.editButton:hover {
    background-color: rgba(103, 162, 232, 0.56);
}

.contact, .contact a {
    padding-left: 10px;
}

.contact a {
    color: #2a5885;
    font-weight: bold;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}
