.profileInfo {
    display: grid;

    grid-column: 1 / 3;
    grid-template: 1fr / .3fr .7fr;
}

.mainInfo {
    display: grid;
    grid-template: 50px 40px 1fr / 1fr;
}

.photoBlock {
    display: grid;
    grid-template-rows: 210px 1fr;
    place-items: flex-start center;
    grid-row: 1 / 4;
}

.mainPhoto {
    display: block;

    width: 200px;
}

.newPhoto {
    margin: 15px 0;
    background-color: #5181b8;
}

.newPhoto input {
    position: absolute;
    visibility: hidden;

    opacity: 0;
}

.addPhoto {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin-right: 15px;
    color: white;
}

.addPhoto:hover {
    cursor: pointer;

    background-color: rgba(103, 162, 232, .56);
}

.addPhoto img {
    padding: 5px;
}

.fullName {
    font-size: 25px;
    font-weight: 500;
    line-height: 45px;
    border-bottom: 1px solid rgba(100, 100, 100, .7);
}

.status {
    display: flex;
    align-items: center;
}

.status span {
    overflow: hidden;
    max-width: 500px;
    margin-top: 20px;
    padding: 5px;

    justify-items: center;
}

.status span:hover {
    cursor: pointer;
    background-color: #f0f2f5;
}

.profileData div {
    margin: 10px;
}

.editButton {
    font-size: 14px;
    display: block;

    width: 75px;
    height: 25px;
    margin: 10px;
    cursor: pointer;
    color: #fff;
    border: 0;
    border-radius: 5px;
    outline: none;
    background-color: #5181b8;
}

.editButton:hover {
    background-color: rgba(103, 162, 232, .56);
}

.contact,
.contact a {
    padding-left: 10px;
}

.contact a {
    font-weight: bold;
    text-decoration: none;

    color: #2a5885;
}

.contact a:hover {
    text-decoration: underline;
}
