.login {
    display: grid;
    align-items: center;
    grid-template: .2fr .8fr / 1fr;
    justify-items: center;
}

.button {
    font-size: 14px;
    display: block;

    width: 105px;
    height: 35px;
    margin: 10px auto;
    cursor: pointer;
    color: #fff;
    border: 0;
    border-radius: 5px;
    outline: none;
    background-color: #5181b8;
}

.button:hover {
    background-color: rgba(103, 162, 232, .56);
}
