.app-wrapper {
    display: grid;

    min-height: 100%;
    grid-template: 42px 1fr / 1fr;
    grid-template-areas: 'header' 'main';
    grid-gap: 10px;
}

.app-wrapper-main {
    display: grid;

    grid-area: main;
    grid-template: 1fr / 1fr minmax(auto, 165px) minmax(auto, 795px) 1fr;
}

.app-wrapper-content {
    padding: 20px;
    border-radius: 4px;
    background: white;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, .62);

    grid-column: 3 / 4;
}
